"*":
  core:
    disabledPackages: [
      "autocomplete-plus"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
    ]
  editor:
    fontFamily: "Meslo"
    fontSize: 15
    scrollSensitivity: 60
    showInvisibles: true
    userId: "1958fd12-b0b4-6af7-b0bf-497f7f3267b4"
  linter:
    errorPanelHeight: 28
  welcome:
    showOnStartup: false
